<div class="row">
	<div class="col-sm-4"></div>
	<div class="col-sm-4">
		<p style="color:white">
			E-posta: hamza.alp2001@gmail.com <br /><br />

			Linkedin: linkedin.com/in/hamza-alpaslan-758ba0269 <br /><br />

			For website project: <a href="https://github.com/hamza-alpaslan/Asp.net-core-web-mvc-MovieSite">Github</a>
		</p>
	</div>
	<div class="col-sm-4"></div>
</div>

